*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;
   background-color:black;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "section section section"
                         "divleft bottom-up divright"
                         "divleft bottom-down divright";
}
section{
    grid-area: section;
    background-color: yellow;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
header{
    grid-area: header;
    background-color: green;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#divleft{
    grid-area: divleft;
    background-color: blue;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}   
#divright{
    grid-area: divright;
    background-color: red;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#bottom-up{
    grid-area: bottom-up;
    background-color: purple;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#bottom-down{
    grid-area: bottom-down;
    background-color: orange;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}